/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset.css */

body {
  background-color: rgb(30 41 59);
  color: white;
  font-family: "Arial";
}

.inner-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.station-heading {
  background-color: rgb(15 23 42);
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 1em;

  .station-name {
    padding-top: 0.1em;
    font-family: "Arial Black";
    font-size: 2em;
    border-top: 0.1em solid white;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  .station-lines {
    height: 1.75em;
  }

  .station-line {
    font-family: "Arial Black";
    display: block;
    width: 1.5em;
    height: 1.5em;
    padding: 0.1em;
    line-height: 1.5em;
    float: left;
    margin-right: 0.5em;
    text-align: center;

    &.local {
      border-radius: 1em;
    }

    &.express {
      transform: rotate(45deg);
      width: 1.06em;
      height: 1.06em;
      margin-top: 0.22em;
      .station-line-name {
        transform: rotate(-45deg);
        line-height: 1.06em;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.yellow {
  background-color: #fccc0a;
}

.purple {
  background-color: #b933ad;
}

.blue {
  background-color: #0039a6;
}

.red {
  background-color: #ee352e;
}

.silver {
  background-color: #808183;
}

.grey {
  background-color: #a7a9ac;
}

.brown {
  background-color: #996633;
}

.green {
  background-color: #00933c;
}

.light-green {
  background-color: #6cbe45;
}

.orange {
  background-color: #ff6319;
}
